//size responsive
$sm : 580px;
$xs : 320px;
$m : 780px;
$lg : 1024px;
$xl : 1280px;
//color variable
$defaultLinkColor: #9d9d9d;
$bgCard: #ffffff;
$success_light: rgba(63, 126, 0, 0.08);
$success:#305d02;
//css variable
$rounded: 6px;
$shadowSm:  -19px 22px 90px 0px rgba(115, 115, 115, 0.75);
$BorderSm: 1px solid #e5e5e5;
$DeskTopCard: 35.375rem;
$responsiveCard: 22rem;
$SmallScreenCard: 26rem;
$full : 100%;
$title__Cart:#404040;
$text_Medium:500
